{% extends 'base.html.twig' %}

{% block title %}Lista de imágenes de lugares{% endblock %}

{% block main %}

	{{ parent() }}
	<p>Listado de imágenes en <b>Symfoplaces</b>.</p>
	
	<h3>Imágenes</h3>
	
    {# incluye la subvista en los enlaces de paginación antes de la tabla #}
    {% 
        include '/includes/paginator.html.twig' with
            {
                'route': 'photo_list',
                'entidades': 'photos'
            } 
    %}
	
	{# incluye la subvista con los la lista de actores #}
	{% include '/includes/lista_photos.html.twig' %}
    
    {# incluye la subvista en los enlaces de paginación después de la tabla#}    
    {% 
        include '/includes/paginator.html.twig' with
            {
                'route': 'photo_list',
                'entidades': 'photos'
            } 
    %}
{% endblock %}