{% extends 'base.html.twig' %}
{% block main %}
	<h1>Forbidden</h1>
	<h2>Error 403</h2>
	
	<p>No tienes autorización para acceder a este recurso</p>
	<div class="row align-items-center text-center">
		<figure class="col-6 offset-3">
			<img class="img-fluid" src="{{ asset('images/errors/403.png') }}"
		</figure>
	</div>
	
	<p> Para más información ocntacta con el administrador haciendo uso del <a href="{{ path('contacto') }}">formulario de contacto.</a></p>
	{% endblock %}