{% extends 'email.html.twig' %}
{% block title %}Registro{% endblock %}
{% block main %}
    <div class="m-3 p-3 bg-white">
        <h2>Confirma tu email</h2>        
        <p>Por favor, confirma tu dirección de email
        haciendo clic en el siguiente enlace:</p>
        <div class="text-center p-3 m-3">
            <a Class="btn btn-primary" href="{{ signedUrl }}">
            Confirmar mi email.
            </a>
        </div>
        <p>Este enlace expirará en
        {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
        <p>Gracias.</p>
    </div>
{% endblock %}