{% extends 'email.html.twig' %}
{% block title %}Registro{% endblock %}
{% block main %}
	<div class="m-3 p-3 bg-white">
		<h4>Restablecer la clave de SymfoFilms</h4>
		<p>Para poder modificar tu clave de acceso, haz clic en el botón:</p>
		<div class="text-center p-3">
		<a class="btn btn-primary"
			href="{{ url('app_reset_password', {token: resetToken.token}) }}">
			Modificar mi clave
		</a>
	</div>
	<p>Si no te funciona, haz clic en el enlace o copia y pega en tu navegador.</p>
	<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
		{{ url('app_reset_password', {token: resetToken.token}) }}
	</a>
	<p>Este enlace expirará en
		{{ resetToken.expirationMessageKey |trans(
			resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
	<p>Un saludo cordial del equipo de SymfoFilms.</p>
	</div>
{% endblock %}